.navbar {
	background-color: #36415F;
	color:#fff;
}

.navbar ul li a {
	color:#fff;
}

.navbar a {
	color:#fff;
}

.navbar .active a {
	color:#3366CC ;
}

.phoneNumber {
	background-color: #36415f;
	width: 100%;
	margin: 0 auto;
	padding: 15px 0;
}

.img-center {
	margin: 0 auto;
}